// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.board {
    overflow:scroll;
    word-break:break-all;
    overflow-x:hidden;
    height:340px;
    background-color:#fcfdff;
    padding-top: 5px;
}
span.label-info {
    font-size:1em;
}
span.age {
    font-size:0.9em;
}
span.time {
    font-size:0.7em;
}
div.input {
    background-color:#f4faff;
    height:340px;
}
.input_body{
    resize:none;
    width:100%;
    height:168px !important;
    padding:15px;
}
.panel-body {
    padding-top: 0px;
    padding-bottom: 0px;
}
div.form-group{
    label.col-md-2 {
        padding-left:0;
    }
   div.col-md-10 {
       padding-left:0;
   } 
}
div.form-group {
    margin-bottom: 0px;
    margin-top: 8px;
}

.field_with_errors{
    border: 1px solid #f00;
    border-radius: 4px;
}